<div class=" panel-head">
  <h1 class="text-center">Update student information</h1>
</div>

<div class="panel-body">
  <%= render 'form' %>
</div>

<div class="panel-footer">
  <%= link_to 'Back', students_path, class: "btn btn-default btn-danger"  %>
</div>