<div class="panel-head">
  <h1 class="text-center">All 50 Users details</h1>
</div>

<div class="panel-body">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
      </tr>
    </thead>
    <tbody>
      <% @users.order(:name).first(50).each do |user| %>
        <tr>
          <td> <%= user.name %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.mobile_no %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="footer">
  <p class="text-center text-warning">Users are listed according to name.</p>
  <p class="text-center">Time stamp: <%= Time.now %></p>
</div>