<div class="panel-head">
  <%= link_to "Download users data as pdf", "users.pdf", class: "btn btn-default btn-primary" %>
  <%= link_to "Download users data as csv", "users.csv", class: "btn btn-default btn-primary" %>
</div>