<div class="panel-heading">
  <h1 class="text-center">Create New User</h1>
</div>

<div class="panel-body">
  <%= render 'form' %>
</div>

<div class="panel-footer">
  <%= link_to 'Back', root_path %>
</div>
