/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.header{
  background-color: #063444;
  margin: 0;
  padding: 10px;
  margin-bottom: 15px;
  text-shadow: 2px 3px 5px;
}

header h1:hover{
  text-decoration: none;
  color: #e48282;
}

header h1{
  color: #feae81;
}

.thead-dark{
  background-color: #063444;
  color: #fff;
}

tr { page-break-inside: avoid }

.notice{
  display: block;
  margin: 15px 5px;
}

.thumbnail{
  background-color: #f7f7f7;
  color: #fff;
  box-shadow: 5px 10px 3px;
}

body{
  position: relative;
}

footer{
  width: 100%;
  background-color: #063444;
  margin:0;
  padding: 5px;
  position: fixed;
  bottom: 0;

  p{
    color: #fff;
    bottom: 0;
  }
}