<div class="panel-heading">
  <h1 class="text-center">Image Gallery</h1>
</div>

<div class="panel-body">
  <div class="row">
    <% if @images.count == 0 %>
      <p class="text-danger text-center">Gallery is empty, please upload!</p>
    <% end %>
    <% @images.each do |image| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to (image_tag image.img.url(:medium)), image, class: "img-responsive" %>
          <p class="caption text-center">
            <%= link_to (image.title), image %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="panel-footer">
  <%= link_to "upload", new_image_path, class: "btn btn-default btn-primary" %>
</div>