<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="panel panel-default">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
